* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #333;
}

.language-screen, .main-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.language-screen.active, .main-screen.active {
  display: flex;
}

.lang-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.lang-buttons button:hover {
  background: #2980b9;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 25px;
  justify-content: center;
}

.category {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.category:hover {
  transform: scale(1.05);
}

.category i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #3498db;
}

.category p {
  font-weight: 500;
}
h2 {
  text-align: center;
  margin-top: 20px;
  color: #2c3e50;
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.store-card {
  background: white;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.store-card:hover {
  transform: scale(1.05);
}

.store-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.store-card p {
  padding: 10px;
  font-weight: 500;
  color: #333;
}

/* Popup Galeri */
.gallery-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.gallery-popup.active {
  display: flex;
}

.gallery-popup img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.gallery-nav {
  margin-top: 20px;
}

.gallery-nav button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  background: #3498db;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-nav button:hover {
  background: #2980b9;
}
